.paginator{
    display: flex;
    justify-content: center;
    margin: 1%;
}

.btn-pagination{
    display: flex;
    justify-content: center;
}
.card {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#select-content  {
    width: 50px;
    margin: 0 auto;
}
