<div class="paginator">
  <mat-card class="card">
    <label>Items per page:</label>
    <mat-select class="content" placeholder="Items per page" name="pageSize" [(ngModel)]="pagination.pageSize">
      <mat-option *ngFor=" let pageSize of selectPageSize " [value]="pageSize" (click)="changeValue()">
        {{pageSize}}
      </mat-option>
    </mat-select>
    <button mat-icon-button color="primary" [disabled]="pagination.page === 1" (click)="prev()">
      <mat-icon>
        arrow_back_ios
      </mat-icon>
    </button>
    <label>{{pagination.page}} of {{totalPages}} </label>
    <button mat-icon-button color="primary" [disabled]="pagination.page === totalPages" (click)="next()">
      <mat-icon>
        arrow_forward_ios
      </mat-icon>
    </button>
  </mat-card>
</div>