.newbook {
    cursor: pointer;
    min-width: 200px;
    margin-left: 40px;
    text-align: center;
    position: absolute;
}

.content{
    height: 400px;
    width: max-content;
    margin: 0 auto;
    overflow: auto;
}

table {
    min-width: 700px;
    width: 60%;
}