<app-books-search (searchEvent)="onSearch($event)"></app-books-search>
<button class="newBook" routerLink="/books/addbook">Add new book</button>
<app-pagination [page]="bookFilter.page" [pageSize]="bookFilter.pageSize" [totalRecords]="totalRecords" (pageEvent)="pageChange($event)">
</app-pagination>
<ul>
  <li *ngFor="let book of books">
    <a (click)='viewBook(book._id)'> Title:{{book.title}}</a>
    <a (click)='viewBook(book._id)'> Author:{{book.author}}</a>
    <button (click)='deleteBook(book._id) '>Delete </button>
    <button (click)='editBook(book._id) '>Edit </button>
  </li>
</ul>