a {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
li {
    display: block;
    max-width: max-content;
}
label {
    display: block;
    max-width: max-content;
}

.newBook {
    margin-left: 2%;
}