<a class="allbooks" mat-raised-button (click)="moveBack.emit()">
  <mat-icon>library_books</mat-icon> Show all Books </a>
<form class="modifybook-form" ngSubmit="save()">
  <mat-card class="card">
    <mat-form-field>
      <input matInput placeholder="Title" [(ngModel)]="book.title" name="title" [formControl]="titleController" [errorStateMatcher]="matcher">
      <mat-error *ngIf="titleController.hasError('minlength') && !titleController.hasError('required')">
        Please enter a valid length
      </mat-error>
      <mat-error *ngIf="titleController.hasError('required')">
        Property's is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Author" name="author" [(ngModel)]="book.author" [formControl]="authorController" [errorStateMatcher]="matcher">
      <mat-error *ngIf="authorController.hasError('minlength') && !authorController.hasError('required')">
        Please enter a valid length
      </mat-error>
      <mat-error *ngIf="authorController.hasError('required')">
        Property's is required
      </mat-error>
    </mat-form-field>
    <button [disabled]="titleController.invalid || authorController.invalid" mat-raised-button color="primary" (click)='save.emit(book)'
      type="submit">
      <mat-icon>check</mat-icon>
    </button>
  </mat-card>
</form>